.statistics {
  padding: 50px 0;
  text-align: center;
  width: 300px;
  margin: auto;
}

.statList {
  margin: 30px;
  display: flex;
  justify-content: space-evenly;
}

.item {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(5, 5, 5);
  width: 100px;
  padding: 10px 20px;
  background-color: rgb(230, 33, 33);
}

.label {
  color: rgb(255, 255, 255);
}
.percentage {
  color: rgb(255, 255, 255);
  margin: 10px;
  font-style: 25px;
  font-weight: 700;
}
